<!DOCTYPE html>
<html lang="{{ .Lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {{ partialCached "css.html" . }}

        <!-- Primary Meta Tags -->
        <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
        <meta name="title" content="{{ .Site.Title }}" />
        <meta name="description" content='{{ T "sitedescription" }}' />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ .Site.BaseURL }}" />
        <meta property="og:title" content="{{ .Site.Title }}" />
        <meta property="og:description" content='{{ T "sitedescription" }}' />
        <meta property="og:image" content="/meta_image.jpg" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="{{ .Site.BaseURL }}" />
        <meta property="twitter:title" content="{{ .Site.Title }}" />
        <meta property="twitter:description" content='{{ T "sitedescription" }}' />
        <meta property="twitter:image" content="/meta_image.jpg" />

        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <meta name="apple-mobile-web-app-title" content='{{ T "shorttitle" }}' />
        <link rel="manifest" href="/site.webmanifest" />
        <style>
            h5 { font-style: italic; font-weight: 200; }
        </style>
    </head>
    <body class="bg-sky-50">
        <header class="w-full p-4 fixed bg-sky-50 hidden md:block">
            <div class="flex flex-row items-center justify-between">
                <a href="/" class="flex flex-row items-center">
                    <img src="/logo.svg" class="h-10 w-auto mr-2" />
                    <span class="font-black text-xl tracking-wider">{{ T "shorttitle" }}</span>
                </a>
                <nav>
                    <ul class="flex flex-row text-sm space-x-4">
                        {{ $currentPage := . }}
                        {{ range site.Menus.main }}
                            <li>
                                {{ if $currentPage.IsMenuCurrent .Menu . }}
                                    <span class="block text-blue-600">{{ .Name }}</span>
                                {{ else }}
                                    <a class="block text-blue-950 hover:text-blue-600" href="{{ .URL }}">{{ .Name }}</a>
                                {{ end }}
                            </li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
        </header>
        <header class="w-full p-4 fixed bg-sky-50 md:hidden">
            <div class="flex flex-row items-center justify-between">
                <a href="/" class="flex flex-row items-center">
                    <img src="/logo.svg" class="h-10 w-auto mr-2" />
                    <span class="font-black text-xl tracking-wider">{{ T "shorttitle" }}</span>
                </a>
                <button id="navbar-toggle" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-black rounded-lg cursor-pointer hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-800">
                    <svg class="w-5 h-5" id="menu-icon-open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                    <svg class="w-5 h-5 hidden" id="menu-icon-close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 5L5 19" stroke="#333333" stroke-width="2" stroke-linecap="round"/>
                        <path d="M5 5L19 19" stroke="#333333" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </button>
            </div>
            <nav class="hidden" id="navbar">
                <ul class="flex flex-col gap-4 pt-8 pb-4">
                    {{ $currentPage := . }}
                    {{ range site.Menus.main }}
                        <li>
                            {{ if $currentPage.IsMenuCurrent .Menu . }}
                                <span class="block text-blue-600">{{ .Name }}</span>
                            {{ else }}
                                <a class="block text-blue-950 hover:text-blue-600" href="{{ .URL }}">{{ .Name }}</a>
                            {{ end }}
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </header>
        <main class="prose max-w-full pt-20">
            {{ block "main" . }}{{ end }}
        </main>
        <footer class="text-center py-10">
            <p class="text-sm">&copy; 2025 SMASH&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/condeofconduct" class="underline">Code of Conduct</a></p>
        </footer>
        <script data-goatcounter="https://smashcon.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
        <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
        <script type="text/javascript">
            window.EBWidgets.createWidget({
                // Required
                widgetType: 'checkout',
                eventId: '1486745468719',
                iframeContainerId: 'eventbrite-widget-container-1486745468719',

                // Optional
                iframeContainerHeight: 600,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
                iframeContainerWidth: 1024,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
            });
        </script>
        <script>
            const navToggleElement = document.querySelector('#navbar-toggle');
            const navElement = document.querySelector('#navbar');
            const menuIconOpenElement = document.querySelector('#menu-icon-open');
            const menuIconCloseElement = document.querySelector('#menu-icon-close');
            navToggleElement.addEventListener("click", function(){
                navElement.classList.toggle('hidden');
                menuIconOpenElement.classList.toggle('hidden');
                menuIconCloseElement.classList.toggle('hidden');
            })
            function onKonamiCode(cb) {var input = '';var key = '38384040373937396665';document.addEventListener('keydown', function (e) {input += ("" + e.keyCode);if (input === key) {return cb();}if (!key.indexOf(input)) return;input = ("" + e.keyCode);})}
            onKonamiCode(function () {window.open('https://www.jetty.io/pelly'), _blank})
        </script>
    </body>
</html>
