{{ define "main" }}
  <section class="bg-cover bg-no-repeat bg-fixed bg-[url('/home_header_bg.svg')] bg-gray-700 bg-blend-multiply">
    <div class="max-w-4xl m-auto py-14 md:py-40 px-4">
      <h2 class="text-base !m-0 pl-2 pb-10 text-white">Symposium on Model Accountability, Sustainability and Healthcare</h2>
      <div class="flex flex-col gap-y-10 md:gap-0 md:flex-row md:justify-between md:items-center">
        <h1 class="text-7xl md:text-9xl !m-0 max-w-lg font-black text-white">{{ .Site.Params.Shorttitle }}</h1>
        <div class="flex flex-col gap-y-4 text-center">
          <p class="text-lg text-white !m-0">November 4-5 2025</p>
          <p class="text-lg !m-0"><a href="https://mila.quebec/en" target="_blank" class="text-white">Mila</a></p>
          <p class="text-sm text-white !m-0">6666 Rue Saint-Urbain,<br>Montréal, QC H2S 3H1</p>
          <p class="!m-0"><a href="/register" class="inline-block no-underline text-white bg-teal-600 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300 font-medium rounded-sm px-12 md:px-5 py-5 md:py-2.5 transition-colors">Register Now</a></p>
        </div>
      </div>
    </div>
  </section>
  <section class="-mb-50">
    <div class="max-w-4xl m-auto pt-10 md:pt-20 pb-5 md:pb-10 px-4">
      <h3 class="text-4xl md:text-7xl !m-0 pb-5 md:pb-10 text-teal-500">About</h3>
      <div class="grid gap-6 md:grid-cols-2 md:gap-12">
        <p class="!m-0">The Symposium on Model Accountability, Sustainability and Healthcare (SMASH) is an interdisciplinary gathering focused on operationalizing AI safely and responsibly. The goal of this event is to identify challenges and propose technical, ethical and regulatory solutions to AI safety, data privacy, model interoperability and accountability. This symposium will explore these research topics through the lens of healthcare and sustainability.</p>
        <p class="!m-0">The healthcare sector is rapidly embracing AI, and the insights gained are likely to inform future sustainability research. These disciplines operate within interconnected ecosystems of stakeholders, technologies, and datasets, sharing both the potential benefits and inherent risks.</p>
      </div>
      <figure class="!mb-0"><img src="/about.jpg" alt="Image showing people around a table discussing something"></figure>
    </div>
  </section>
  <div class="bg-gradient-to-br from-green-200 to-sky-100 pt-50 pb-10 md:pb-20">
    <section class="max-w-4xl m-auto py-5 md:py-10 px-4">
      <h3 class="text-4xl md:text-7xl !m-0 pb-5 md:pb-10 text-teal-500">Important Dates</h3>
      <ul class="">
        <li><strong>Jul 12, 2025:</strong> <a href="/callforpapers">Submission opens</a></li>
        <li><strong>Aug 31, 2025:</strong> EXTENDED! Paper submission deadline</li>
        <li><strong>Sep 25, 2025:</strong> Announcement of decisions shared with Committee members</li>
        <li><strong>Oct 15, 2025:</strong> Camera-ready submissions deadline</li>
      </ul>
    </section>
    <section class="max-w-4xl m-auto py-5 md:py-10 px-4">
      <h3 class="text-4xl md:text-7xl !m-0 pb-5 md:pb-10 text-teal-500">Invite for Papers</h3>
      <p>We invite researchers to submit 4 page extended abstracts under the research areas defined below.</p>

      <h4>ML Safety, Privacy, Model Accountability and Alignment:</h4>
      <ul>
        <li>Safety, robustness and alignment of ML systems</li>
        <li>ML systems and software traceability</li>
        <li>Applications of privacy enhancing technologies (PETs): differential privacy, federated learning, etc.</li>
        <li>ML performance and benchmarking methods</li>
        <li>Mechanisms for ML provenance tracking and watermarking</li>
        <li>Safety use cases for advanced AI systems</li>
      </ul>

      <h4>Interdisciplinary Submissions from Law and Social Sciences:</h4>
      <ul>
        <li>Acceptance of ML technologies by clinicians, patients, and administrators</li>
        <li>ML risk assessments and disclosures</li>
        <li>Ethical considerations when deploying ML systems</li>
        <li>Regulation of ML technology</li>
      </ul>

      <p>Contributions to SMASH that are of an applied nature are also welcome, such as case studies deploying ML with sensitive data.</p>

      <h4>Healthcare Applications:</h4>
      <ul>
        <li>Applications of AI in healthcare (administration, precision medicine, patient care, diagnostics)</li>
        <li>Using patient data in ML research</li>
        <li>Healthcare ML metrics, monitoring and benchmarking</li>
      </ul>

      <h4>Methods for ML Sustainability:</h4>
      <ul>
        <li>ML emissions accounting metrics</li>
        <li>Case studies and applications of sustainability in ML</li>
        <li>Sustainable computing and system design</li>
        <li>Environmental accounting methods for ML</li>
      </ul>

      <h5>Sustainability, Healthcare and Safety, that's a bit of an odd mix - what's the deal?</h5>
      <p>You’re not wrong. But that's kind of the point! We’re firm believers that creating spaces that cut across academic boundaries yields compelling insights.</p>

      <p>This event explores how AI in Sustainability and Healthcare are on parallel regulatory and operational trajectories and that they might benefit from a mutual exchange of ideas, governance and tooling.</p>
    </section>
    <section class="max-w-4xl m-auto py-5 md:py-10 px-4">
      <h3 class="text-4xl md:text-7xl !m-0 pb-5 md:pb-10 text-teal-500">Invited Speakers</h3>
      {{ $speakers := site.Data.speakers }}
      {{ $sortedSpeakers := sort site.Data.speakers "lastname" }}
      <ul>
        {{ range $sortedSpeakers }}
        <li><span class="font-bold">{{ .firstname }} {{ .lastname }}</span>, {{ .title }}</li>
        {{ end }}
      </ul>
      <p>We still have a few openings for invited speakers.
      If your work is broadly applicable, and you are willing to present in person, we invite you to submit a title for a talk and a brief description to the conference organizers: <a href="mailto:contact@smashcon.org">contact@smashcon.org</a>.</p>
    </section>
    <section class="max-w-4xl m-auto py-5 md:py-10 px-4">
      <h3 class="text-4xl md:text-7xl !m-0 pb-5 md:pb-10 text-teal-500">Program Committee</h3>
      {{ $programCommittee := site.Data.programCommittee }}
      {{ $sortedProgramCommittee := sort site.Data.programCommittee "lastname" }}
      <ul>
        {{ range $sortedProgramCommittee }}
        <li><span class="font-bold">{{ .firstname }} {{ .lastname }}</span>, {{ .title }}</li>
        {{ end }}
      </ul>
    </section>
    <section class="max-w-4xl m-auto py-5 md:py-10 px-4">
      <h3 class="text-4xl md:text-7xl !m-0 pb-10 md:pb-20 text-teal-500">Sponsors</h3>
      {{ $sponsors := site.Data.sponsors }}
      <ul class="not-prose flex gap-6 md:gap-12 flex-wrap items-center">
        {{ range $sponsors }}
          <li>
            <a class="block w-36 md:w-45" href="{{ .url }}" title="{{ .name }}" target="_blank">
              <img class="w-full" src="/sponsors/{{ .img }}" alt="{{ .name }}">
            </a>
          </li>
        {{ end }}
      </ul>
    </section>
    <section class="max-w-4xl m-auto py-5 md:py-10 px-4">
      <h3 class="text-4xl md:text-7xl !m-0 pb-5 md:pb-10 text-teal-500">Venue</h3>
      <div>
        <p class="text-lg !m-0 pb-4"><a href="https://mila.quebec/en" target="_blank">Mila</a>, 6666 Rue Saint-Urbain, Montréal, QC H2S 3H1</p>
        <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=600&amp;hl=en&amp;q=6666 Rue Saint-Urbain, Montréal, QC H2S 3H1&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://embed-googlemap.com">embed google maps in website</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:600px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:600px;}.gmap_iframe {height:600px!important;}</style></div>
      </div>
    </section>
  </div>
{{ end }}
