{{ define "main" }}
  <section class="bg-cover bg-no-repeat bg-fixed bg-[url('/home_header_bg.svg')] bg-gray-700 bg-blend-multiply">
    <div class="max-w-4xl m-auto py-14 md:py-40 px-4">
      <h2 class="text-base !m-0 pl-2 pb-10 text-white">{{ T "conf_full_name" }}</h2>
      <div class="flex flex-col gap-y-10 md:gap-0 md:flex-row md:justify-between md:items-center">
        <h1 class="text-7xl md:text-9xl !m-0 max-w-lg font-black text-white">{{ T "short_title" }}</h1>
        <div class="flex flex-col gap-y-4 text-center">
          <p class="text-lg text-white !m-0">{{ T "conf_date" }}</p>
          <p class="text-lg !m-0"><a href="https://mila.quebec/en" target="_blank" class="text-white">Mila</a></p>
          <p class="text-sm text-white !m-0">6666 Rue Saint-Urbain,<br>Montréal, QC H2S 3H1</p>
          <p class="!m-0"><a href="/register" class="inline-block no-underline text-white bg-teal-600 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300 font-medium rounded-sm px-12 md:px-5 py-5 md:py-2.5 transition-colors">{{ T "register_now" }}</a></p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="max-w-4xl m-auto pt-10 pb-5 md:pt-20 md:pb-10 px-4">
      <h3 class="text-4xl md:text-7xl !m-0 pb-5 md:pb-10 text-teal-500">{{ T "title_about" }}</h3>
      <div class="grid gap-6 md:grid-cols-2 md:gap-12">
        <p class="!m-0">{{ T "about_para_1" }}</p>
        <p class="!m-0">{{ T "about_para_2" }}</p>
      </div>
      <figure class="!mb-0"><img src="/about.jpg" alt='{{ T "about_img_alt" }}'></figure>
    </div>
  </section>
  <section>
    <div class="max-w-4xl m-auto pt-10 pb-5 md:pb-10 px-4">
      <h3 class="text-4xl md:text-7xl !m-0 pb-5 md:pb-10 text-teal-500">{{ T "title_accepted_papers" }}</h3>
      <div class="">
        <p class="!m-0">{{ T "accepted_papers_para_1" | safeHTML }}</p>
      </div>
    </div>
  </section>
  <section>
    <div class="max-w-4xl m-auto pt-10 pb-5 md:pb-10 px-4">
      <h3 class="text-4xl md:text-7xl !m-0 pb-5 md:pb-10 text-teal-500">{{ T "title_agenda" }}</h3>
      <div class="">
        {{ partial "agenda" }}
      </div>
    </div>
  </section>
  <div class="bg-gradient-to-br from-green-200 to-sky-100 pt-10 pb-10 md:pb-20">
    <section class="max-w-4xl m-auto py-5 md:py-10 px-4">
      <h3 class="text-4xl md:text-7xl !m-0 pb-5 md:pb-10 text-teal-500">{{ T "title_invited_speakers" }}</h3>
      {{ $speakers := site.Data.speakers }}
      {{ $sortedSpeakers := sort site.Data.speakers "lastname" }}
      <ul>
        {{ range $sortedSpeakers }}
        <li><span class="font-bold">{{ .firstname }} {{ .lastname }}</span>, {{ .title }}</li>
        {{ end }}
      </ul>
      {{ T "invited_speakers_content" | safeHTML }}
    </section>
    <section class="max-w-4xl m-auto py-5 md:py-10 px-4">
      <h3 class="text-4xl md:text-7xl !m-0 pb-5 md:pb-10 text-teal-500">{{ T "title_program_committee" }}</h3>
      {{ $programCommittee := site.Data.programCommittee }}
      {{ $sortedProgramCommittee := sort site.Data.programCommittee "lastname" }}
      <ul>
        {{ range $sortedProgramCommittee }}
        <li><span class="font-bold">{{ .firstname }} {{ .lastname }}</span>, {{ .title }}</li>
        {{ end }}
      </ul>
    </section>
    <section class="max-w-4xl m-auto py-5 md:py-10 px-4">
      <h3 class="text-4xl md:text-7xl !m-0 pb-10 md:pb-20 text-teal-500">{{ T "title_sponsors" }}</h3>
      {{ $sponsors := site.Data.sponsors }}
      <ul class="not-prose flex gap-6 md:gap-12 flex-wrap items-center">
        {{ range $sponsors }}
          <li>
            <a class="block w-36 md:w-45" href="{{ .url }}" title="{{ .name }}" target="_blank">
              <img class="w-full" src="/sponsors/{{ .img }}" alt="{{ .name }}">
            </a>
          </li>
        {{ end }}
      </ul>
    </section>
    <section class="max-w-4xl m-auto py-5 md:py-10 px-4">
      <h3 class="text-4xl md:text-7xl !m-0 pb-5 md:pb-10 text-teal-500">{{ T "title_venue" }}</h3>
      <div>
        <p class="text-lg !m-0 pb-4"><a href="https://mila.quebec/en" target="_blank">Mila</a>, 6666 Rue Saint-Urbain, Montréal, QC H2S 3H1</p>
        <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=600&amp;hl=en&amp;q=6666 Rue Saint-Urbain, Montréal, QC H2S 3H1&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://embed-googlemap.com">embed google maps in website</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:600px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:600px;}.gmap_iframe {height:600px!important;}</style></div>
      </div>
    </section>
  </div>
{{ end }}
