<h2>Invited Speakers:</h2>
{{ $speakers := site.Data.speakers }}
{{ $sortedSpeakers := sort site.Data.speakers "lastname" }}
<ul>
  {{ range $sortedSpeakers }}
  <li><span class="font-bold">{{ .firstname }} {{ .lastname }}</span>, {{ .title }}</li>
  {{ end }}
</ul>

<p>We still have a few openings for invited speakers. 
If your work is broadly applicable, and you are willing to present in person, we invite you to submit a title for a talk and a brief description to the conference organizers: <a href="mailto:contact@smashcon.org">contact@smashcon.org</a>.</p>